body {
    padding-left: 50px;
    padding-right: 50px;
}

div#header {
    height: 75px;
    background-color: lightGrey;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.ebayButton {
    margin: 5px;
}

.auction {
    margin-bottom: 10px;
}

.sellerName {
    color: grey;
}
